<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Eevee - Iniciar sesión.</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'Eevee/login/css/login.css' %}" />
	<link rel="shortcut icon" href="{% static 'Eevee/login/img/LogoD.png' %}" />
</head>
<body>
<div>
	<div class="bg">
	</div>
	<div class = "efecto">
		<div class ="main">
		
		<img src="{% static 'Eevee/login/img/Logo.png' %}" alt="Logo" class="logo">
		<h3 class="Titulo">- Iniciar Sesión -</h3>
		<form>
			<input type="text" name="Login"  placeholder="User Name" class ="input block">
			<input type="password" name="Password" placeholder="Password" class ="input block">	
			<button type="submit" class="buttom">Inciar sesión</button>
		</form>
	</div>
	</div>	
</div>
</body>
</html>